<div class="container" style="margin-top: 8rem;margin-bottom:10rem; text-align: center;">
    <div class="row">
        <div class="col-md-5 col-10 mx-auto mt-5">

            <h1 style="color: rgb(10, 86, 248);">Thankyou For Contact-Us</h1>
            <form #loginForm="ngForm" novalidate style="border: chartreuse;">
                <mat-form-field class="full" appearance="outline">

                    <h2 style="color: black">We are try to solve your queries, Thankyou..!</h2>

                    <h4 style="color: brown;">If you have any other queries then click here</h4>
                    <br>

                    <button mat-raised-button color="accent" routerLink="/contactus">Queries</button>
                    <br>
                    <br>
                    <h4 style="color: white;"> If Not...Then go home..</h4>

                    <button mat-raised-button color="accent" routerLink=" ">Home</button>

                    </mat-form-field>

            </form>
            <p class="mt-2" style="color: white;">If u want a Fixed a Meeting..? <a routerLink="/calender">Click Here</a> </p>
        </div>
    </div>
</div>