

<div class="container" style="margin-top: 8rem;margin-bottom:10rem; ">
    <div class="row">
        <div class="col-md-5 col-10 mx-auto mt-5">

            <h1 style="color: lightcoral;">Thankyou For Shopping</h1>
            <form #loginForm="ngForm" novalidate style="border: chartreuse;">
                <mat-form-field class="full" appearance="outline">

                    <h2>Thankyou..! for being here </h2>

                    <h4>If you have any queries then click here</h4>
                    <br>

                    <button mat-raised-button color="accent" routerLink="/contactus">Queries</button>
                    <br>
                    <br>
                    <h4> If you want to do more shooping hen click here Thankyou..</h4>

                    <button mat-raised-button color="accent" routerLink=" ">Home</button>

                    </mat-form-field>

            </form>
        </div>
    </div>
</div>