

<div class="heading  mb-5">
    <div class="card cards">
        <h3 class="text-primary">Discover</h3>
        <h1 style="font-weight: bold;">What's Trending Now</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-10 mx-auto mb-3" *ngFor="let product of products">
            <mat-card class="example-card">
                <a routerLink="/product-details/{{product.id}}">
                <img mat-card-image class="mat-image" src="../../../assets/home/{{product.image}}"
                    alt="Photo of a Shiba Inu">
                    </a>
                <mat-card-content class="mat-content">
                    <b class="line_height">
                        <h3 class="pName"> {{product.title | slice:0:25}}</h3>
                        {{product.price | currency:'INR'}}
                    </b>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-flat-button style="width: 100%;" (click)="addToCart(product.id)" >
                        <mat-icon style="color: rgb(105, 201, 10);font-weight: bold;" >add_shopping_cart</mat-icon>
                        <b>Add to Cart</b>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div class="container text-center my-5">

        <a class="btn btn-outline-primary" routerLink="/products" >Show More Products</a>

    </div>  

    <!-- Offer Section -->


    <div class="heading  mb-5">
        <div class="card cards">
            <h1 style="font-weight: bold; text-align: center;">Offer Section</h1>
            <h3 class="text-primary" style="text-align: center;">More than 30 % Off</h3>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-3 col-md-4 col-10 mx-auto mb-3" *ngFor="let product of products">
            <mat-card class="example-card">
                <a routerLink="/product-details/{{product.id}}">
                <img mat-card-image class="mat-image" src="../../../assets/home/{{product.image}}"
                    alt="Photo of a Shiba Inu">
                    </a>
                <mat-card-content class="mat-content">
                    <b class="line_height">
                        <h3 class="pName"> {{product.title | slice:0:25}}</h3>
                        {{product.price | currency:'INR'}}
                    </b>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-flat-button style="width: 100%;" (click)="addToCart(product.id)" >
                        <mat-icon style="color: rgb(105, 201, 10);font-weight: bold;" >add_shopping_cart</mat-icon>
                        <b>Add to Cart</b>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

</div>


<mat-divider></mat-divider>


<div class="container-fluid" style="margin-top: 60px;">
    <div class="row">
        <div class="col-md-3">
            <div class="col-md-12 mb-3">
                <div class="card cd">
                    <img src="../../../assets/home/wearable.jpg" alt="">
                    <div class="all">
                        <h1>Wearable</h1>
                        <p>Smart electronic devices for your day to day life.</p>
                        <a routerLink="/products" mat-raised-button>Shop Wearable</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-3">

                <div class="card cd">
                    <img src="../../../assets/home/innovative.jpg" alt="">
                    <div class="all">
                        <h1>Innovative</h1>
                        <p>Make your life easeier with these smart solutions.</p>
                        <a routerLink="/products" mat-raised-button>Shop Innovative</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card cd">
                <img src="../../../assets/home/smartphone.jpg" alt="">
                <div class="all">
                    <h1>Smartphone</h1>
                    <p>Your personal smartphone are just one click away.</p>
                    <a routerLink="/products" mat-raised-button>Shop Smartphone</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="col-md-12 mb-3">
                <div class="card cd">
                    <img src="../../../assets/home/wifi.jpg" class="img-fluid" alt="">
                    <div class="all">
                        <h1>Wifi</h1>
                        <p>Exclusive high quality wifi technology to extend your network.</p>
                        <a routerLink="/products" mat-raised-button>Shop Wifi</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card cd">
                    <img src="../../../assets/home/headphones-yellow-bg.jpg" class="img-fluid last_img" alt="">
                    <div class="all">
                        <h1>Headphones</h1>
                        <p>Enjoy your favorite playlist with an amazing sound quality.</p>
                        <a routerLink="/products" mat-raised-button>Shop Headphones</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Offer  section -->



    </div>
</div>